In [1]:
import pandas as pd
import random 

dataset=pd.read_csv('book2.csv', encoding='latin1')
print(dataset)

                                 location       lat      long
0                                hava lux  4.155655  9.265483
1                          ice spark inno  4.154224  9.265482
2                            ellis savior  4.153246  9.265681
3                      ese kangs longrich  4.155334  9.263480
4                       sun shine fasion   4.159345  9.263423
5                    fracnzy market place  4.159323  9.263409
6                                 DJ jeff  4.159303  9.263419
7                         danang vs vilox  4.156109  9.263490
8                            soft mind IT  4.156243  9.263917
9                        creative shoping  4.156292  9.000000
10                            blue lounge  4.156382  9.264297
11             easy lift cleaning service  4.156608  9.264816
12                            mini caquet  4.155608  9.264981
13                       cashshop/renters  4.156680  9.265224
14                       haustrireluftweg  4.156762  9.265422
15                               ulisfood  4.156791  9.265797
16                          yoliodinology  4.156827  9.265931
17              alpharelanguage institude  4.157036  9.267038
18                      home land shoping  4.157036  9.267082
19                         ebenezer house  4.157251  9.267638
20  the resulation best technique alumini  4.157454  9.263802
21                                congeni  4.157542  9.268139
22              bondoma gate shoping mall  4.157627  9.263816
23                  age and g importation  4.157782  9.268469
24                          tech chantier  4.157972  9.268937
25                    etanti driver union  4.158013  9.268937
26                                 Dand B  4.158098  9.269117
27                   receive network buea  4.158125  9.269173
28                  honorine grocery shop  4.158199  9.269517
29                    zinc party cupcakes  4.158407  9.271589
30               deluxe ventinary service  4.158454  9.271747
31                     dream body ficness  4.157521  9.270981
32                             rew bakery  4.158502  9.272108
33                  naomi dratelux stadio  4.155868  9.273032
34                 figaw compux restorant  4.155624  9.273362
35                       spiral solicitor  4.158651  9.273808
36                             euro brice  4.158733  9.274374
37                         Cnne a sycre +  4.159334  9.277704
38                      T&B printing shop  4.159313  9.277798
39                    catholic university  4.159207  9.278381
40                  ST charce parish hail  4.159212  9.279389
41              infront of molyko stadium  4.159098  9.289694
42                        hibmat campus A  4.158832  9.288058
43           Made underwear clofing dtore  4.159121  9.280766
44                      K-store cellphone  4.159959  9.280691
45                  fulness of the spirit  4.160513  9.280658
46                            chines cite  4.161318  9.281265
47                         garden of life  4.161551  9.281827
48                                 lukmet  4.166134  9.282544
49                        hibmat campus b  4.166240  9.283562

In [3]:
cost=[]
for i in range(len(dataset)):
    cost.append(random.randint(1,15))
print(cost)

[12, 3, 7, 6, 11, 8, 9, 6, 1, 13, 1, 9, 14, 14, 1, 8, 3, 9, 11, 10, 9, 15, 2, 1, 4, 14, 10, 9, 3, 11, 3, 11, 12, 15, 7, 15, 1, 8, 4, 11, 5, 15, 1, 13, 7, 3, 2, 6, 7, 9]

In [4]:
search_graph={}
for i in range(len(dataset)):
    print("i =", i)
    print("dataset.iloc[i]=",dataset.iloc[i])
    print("cost[i]=", cost[i])

i = 0
dataset.iloc[i]= location    hava lux
lat          4.15566
long         9.26548
Name: 0, dtype: object
cost[i]= 12
i = 1
dataset.iloc[i]= location    ice spark inno
lat                4.15422
long               9.26548
Name: 1, dtype: object
cost[i]= 3
i = 2
dataset.iloc[i]= location    ellis savior
lat              4.15325
long             9.26568
Name: 2, dtype: object
cost[i]= 7
i = 3
dataset.iloc[i]= location    ese kangs longrich
lat                    4.15533
long                   9.26348
Name: 3, dtype: object
cost[i]= 6
i = 4
dataset.iloc[i]= location    sun shine fasion
lat                   4.15935
long                  9.26342
Name: 4, dtype: object
cost[i]= 11
i = 5
dataset.iloc[i]= location    fracnzy market place
lat                      4.15932
long                     9.26341
Name: 5, dtype: object
cost[i]= 8
i = 6
dataset.iloc[i]= location    DJ jeff
lat          4.1593
long        9.26342
Name: 6, dtype: object
cost[i]= 9
i = 7
dataset.iloc[i]= location    danang vs vilox
lat                 4.15611
long                9.26349
Name: 7, dtype: object
cost[i]= 6
i = 8
dataset.iloc[i]= location    soft mind IT
lat              4.15624
long             9.26392
Name: 8, dtype: object
cost[i]= 1
i = 9
dataset.iloc[i]= location    creative shoping
lat                  4.15629
long                       9
Name: 9, dtype: object
cost[i]= 13
i = 10
dataset.iloc[i]= location    blue lounge
lat             4.15638
long             9.2643
Name: 10, dtype: object
cost[i]= 1
i = 11
dataset.iloc[i]= location    easy lift cleaning service
lat                            4.15661
long                           9.26482
Name: 11, dtype: object
cost[i]= 9
i = 12
dataset.iloc[i]= location    mini caquet
lat             4.15561
long            9.26498
Name: 12, dtype: object
cost[i]= 14
i = 13
dataset.iloc[i]= location    cashshop/renters
lat                  4.15668
long                 9.26522
Name: 13, dtype: object
cost[i]= 14
i = 14
dataset.iloc[i]= location    haustrireluftweg
lat                  4.15676
long                 9.26542
Name: 14, dtype: object
cost[i]= 1
i = 15
dataset.iloc[i]= location    ulisfood
lat          4.15679
long          9.2658
Name: 15, dtype: object
cost[i]= 8
i = 16
dataset.iloc[i]= location    yoliodinology
lat               4.15683
long              9.26593
Name: 16, dtype: object
cost[i]= 3
i = 17
dataset.iloc[i]= location    alpharelanguage institude
lat                           4.15704
long                          9.26704
Name: 17, dtype: object
cost[i]= 9
i = 18
dataset.iloc[i]= location    home land shoping
lat                   4.15704
long                  9.26708
Name: 18, dtype: object
cost[i]= 11
i = 19
dataset.iloc[i]= location    ebenezer house
lat                4.15725
long               9.26764
Name: 19, dtype: object
cost[i]= 10
i = 20
dataset.iloc[i]= location    the resulation best technique alumini
lat                                       4.15745
long                                       9.2638
Name: 20, dtype: object
cost[i]= 9
i = 21
dataset.iloc[i]= location    congeni
lat         4.15754
long        9.26814
Name: 21, dtype: object
cost[i]= 15
i = 22
dataset.iloc[i]= location    bondoma gate shoping mall
lat                           4.15763
long                          9.26382
Name: 22, dtype: object
cost[i]= 2
i = 23
dataset.iloc[i]= location    age and g importation
lat                       4.15778
long                      9.26847
Name: 23, dtype: object
cost[i]= 1
i = 24
dataset.iloc[i]= location    tech chantier
lat               4.15797
long              9.26894
Name: 24, dtype: object
cost[i]= 4
i = 25
dataset.iloc[i]= location    etanti driver union
lat                     4.15801
long                    9.26894
Name: 25, dtype: object
cost[i]= 14
i = 26
dataset.iloc[i]= location     Dand B
lat          4.1581
long        9.26912
Name: 26, dtype: object
cost[i]= 10
i = 27
dataset.iloc[i]= location    receive network buea
lat                      4.15813
long                     9.26917
Name: 27, dtype: object
cost[i]= 9
i = 28
dataset.iloc[i]= location    honorine grocery shop
lat                        4.1582
long                      9.26952
Name: 28, dtype: object
cost[i]= 3
i = 29
dataset.iloc[i]= location    zinc party cupcakes
lat                     4.15841
long                    9.27159
Name: 29, dtype: object
cost[i]= 11
i = 30
dataset.iloc[i]= location    deluxe ventinary service
lat                          4.15845
long                         9.27175
Name: 30, dtype: object
cost[i]= 3
i = 31
dataset.iloc[i]= location    dream body ficness
lat                    4.15752
long                   9.27098
Name: 31, dtype: object
cost[i]= 11
i = 32
dataset.iloc[i]= location    rew bakery
lat             4.1585
long           9.27211
Name: 32, dtype: object
cost[i]= 12
i = 33
dataset.iloc[i]= location    naomi dratelux stadio
lat                       4.15587
long                      9.27303
Name: 33, dtype: object
cost[i]= 15
i = 34
dataset.iloc[i]= location    figaw compux restorant
lat                        4.15562
long                       9.27336
Name: 34, dtype: object
cost[i]= 7
i = 35
dataset.iloc[i]= location    spiral solicitor
lat                  4.15865
long                 9.27381
Name: 35, dtype: object
cost[i]= 15
i = 36
dataset.iloc[i]= location    euro brice
lat            4.15873
long           9.27437
Name: 36, dtype: object
cost[i]= 1
i = 37
dataset.iloc[i]= location    Cnne a sycre +
lat                4.15933
long                9.2777
Name: 37, dtype: object
cost[i]= 8
i = 38
dataset.iloc[i]= location    T&B printing shop
lat                   4.15931
long                   9.2778
Name: 38, dtype: object
cost[i]= 4
i = 39
dataset.iloc[i]= location    catholic university
lat                     4.15921
long                    9.27838
Name: 39, dtype: object
cost[i]= 11
i = 40
dataset.iloc[i]= location    ST charce parish hail
lat                       4.15921
long                      9.27939
Name: 40, dtype: object
cost[i]= 5
i = 41
dataset.iloc[i]= location    infront of molyko stadium
lat                            4.1591
long                          9.28969
Name: 41, dtype: object
cost[i]= 15
i = 42
dataset.iloc[i]= location    hibmat campus A
lat                 4.15883
long                9.28806
Name: 42, dtype: object
cost[i]= 1
i = 43
dataset.iloc[i]= location    Made underwear clofing dtore
lat                              4.15912
long                             9.28077
Name: 43, dtype: object
cost[i]= 13
i = 44
dataset.iloc[i]= location    K-store cellphone
lat                   4.15996
long                  9.28069
Name: 44, dtype: object
cost[i]= 7
i = 45
dataset.iloc[i]= location    fulness of the spirit
lat                       4.16051
long                      9.28066
Name: 45, dtype: object
cost[i]= 3
i = 46
dataset.iloc[i]= location    chines cite
lat             4.16132
long            9.28126
Name: 46, dtype: object
cost[i]= 2
i = 47
dataset.iloc[i]= location    garden of life
lat                4.16155
long               9.28183
Name: 47, dtype: object
cost[i]= 6
i = 48
dataset.iloc[i]= location     lukmet
lat         4.16613
long        9.28254
Name: 48, dtype: object
cost[i]= 7
i = 49
dataset.iloc[i]= location    hibmat campus b
lat                 4.16624
long                9.28356
Name: 49, dtype: object
cost[i]= 9

In [7]:
new_graph={
    
}
i=0
while i<(len(dataset)-1):
    new_graph[dataset.iloc[i,0]]=(dataset.iloc[i,0],dataset.iloc[i+1,1])
    i+=1
for i in new_graph:
    print(i, ":", new_graph[i])

hava lux : ('hava lux', 4.154224)
ice spark inno : ('ice spark inno', 4.153246)
ellis savior : ('ellis savior', 4.1553342)
ese kangs longrich : ('ese kangs longrich', 4.159345)
sun shine fasion  : ('sun shine fasion ', 4.1593230000000005)
fracnzy market place : ('fracnzy market place', 4.1593029999999995)
DJ jeff : ('DJ jeff', 4.156109)
danang vs vilox : ('danang vs vilox', 4.156243)
soft mind IT : ('soft mind IT', 4.156292)
creative shoping : ('creative shoping', 4.156382)
blue lounge : ('blue lounge', 4.156608)
easy lift cleaning service : ('easy lift cleaning service', 4.155608)
mini caquet : ('mini caquet', 4.1566799)
cashshop/renters : ('cashshop/renters', 4.1567620000000005)
haustrireluftweg : ('haustrireluftweg', 4.156791)
ulisfood : ('ulisfood', 4.156827)
yoliodinology : ('yoliodinology', 4.157036)
alpharelanguage institude : ('alpharelanguage institude', 4.157036)
home land shoping : ('home land shoping', 4.1572510000000005)
ebenezer house : ('ebenezer house', 4.157454)
the resulation best technique alumini : ('the resulation best technique alumini', 4.157541999999999)
congeni : ('congeni', 4.157627)
bondoma gate shoping mall : ('bondoma gate shoping mall', 4.157782)
age and g importation : ('age and g importation', 4.157972)
tech chantier : ('tech chantier', 4.1580129999999995)
etanti driver union : ('etanti driver union', 4.158098000000001)
Dand B : ('Dand B', 4.158125)
receive network buea : ('receive network buea', 4.158199)
honorine grocery shop : ('honorine grocery shop', 4.158407)
zinc party cupcakes : ('zinc party cupcakes', 4.158454)
deluxe ventinary service : ('deluxe ventinary service', 4.157521)
dream body ficness : ('dream body ficness', 4.1585019999999995)
rew bakery : ('rew bakery', 4.155868)
naomi dratelux stadio : ('naomi dratelux stadio', 4.1556239999999995)
figaw compux restorant : ('figaw compux restorant', 4.158651)
spiral solicitor : ('spiral solicitor', 4.158733)
euro brice : ('euro brice', 4.159333999999999)
Cnne a sycre + : ('Cnne a sycre +', 4.159313)
T&B printing shop : ('T&B printing shop', 4.159207)
catholic university : ('catholic university', 4.159212)
ST charce parish hail : ('ST charce parish hail', 4.159098)
infront of molyko stadium : ('infront of molyko stadium', 4.158832)
hibmat campus A : ('hibmat campus A', 4.159121)
Made underwear clofing dtore : ('Made underwear clofing dtore', 4.159959)
K-store cellphone : ('K-store cellphone', 4.160513)
fulness of the spirit : ('fulness of the spirit', 4.161318)
chines cite : ('chines cite', 4.161551)
garden of life : ('garden of life', 4.166134)
lukmet : ('lukmet', 4.16624)